@import 'utilities.css';

:root{
    --primary:#FF8C00;
    --dark:#161616;
    --pure:#FFFFFF;
    --ternary:#898989;
    --light:#F2F2F2;
    --secondary:#070606;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

header{
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

header nav .left a{
    color: var(--pure);
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all .3s ease;
}

header nav .left a:hover{
    color: var(--primary);
}

header nav{
    padding: 2rem 0;
}

header nav .branding{
    margin-right: 3rem;
}

.hero{
    padding: 3rem 0;
}

.hero .left img{
    width: 400px;
}

.hero .right{
    color: var(--pure);
}

.hero .right h6{
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.hero .right h1{
    font-size: 3rem;
    font-weight: 50;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right .right-quote{
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.hero .right p{
    line-height: 1.5;
    margin-bottom: 2rem;
}

.hero .right{
    margin-top: -7rem;
}

section{
    padding: 6rem 0;
}

section.about .about-me-img{
    height: 450px;
}

section.about h1{
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 400;
}

section.about h1 span{
    color: var(--primary);
}

section.about p{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.9;
    margin-bottom: 1rem;
    text-indent: 50px;
    letter-spacing: 2px;
}

section.about .social{
    display: flex;
}

section.about .social a{
    background:var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 80%;
    margin-right:0.3rem;
    transition: all .3s ease;
}

section.about .social a:hover{
    background: var(--primary);
}

section.about .social a img{
    width:100%;
    height:100%;
    
}

.section-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 1rem;
    line-height: 0.5;
}

.section-heading + p{
    color: var(--ternary);
    font-family: 'Lato', sans-serif;
    margin-bottom: 6rem;
    text-align: center;
}

.section-heading span{
    color: var(--primary);
}

.skill-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 2rem;
}

.skill-heading span{
    color: var(--primary);
}

section.skills .skill-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

section.skills .skill-wrapper .skill{
    background: var(--light);
    padding: 3rem 2rem;
    padding-top: 1rem;
    text-align: center;
    transition: all .3s ease;
}

section.skills .skill-wrapper .skill h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-decoration: underline;
}

section.skills .skill-wrapper .skill ul li{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    list-style-type: none;
}

section.skills .skill-wrapper .skill:hover{
    background: var(--dark);
}

section.skills .skill-wrapper .skill:hover h2, section.skills .skill-wrapper .skill:hover ul li{
    color: var(--pure);
}

section.projects{
    background: var(--light);
}

section.projects .card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 6rem;
}

section.projects .card-wrapper .card{
    background: var(--pure);
    padding: 2rem 2rem;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    transition: all .3s ease;
}

section.projects .card-wrapper .card img{
    position: absolute;
    top: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
}

section.projects .card-wrapper .card h2{
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.projects .card-wrapper .card ol li{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
}

section.projects .card-wrapper .card ol span{
    font-family: 'Lato', sans-serif;
    color: var(--primary);
    line-height: 1.6;
}

section.projects .card-wrapper .card:hover{
    background: var(--dark);
}

section.projects .card-wrapper .card:hover h2, section.projects .card-wrapper .card:hover ol li{
    color: var(--pure);
}

section.education{
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/classroom.png);
    color: var(--pure);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
    padding-bottom: 7rem;
}

section.education h1{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: -5rem;
}

section.education .details h2{
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

section.education .details h3{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-bottom: 2rem;
}

section.education .details h4{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

section.education .details h5{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    margin-bottom: 1.0rem;
}

section.education .details span{
    font-family: 'Lato', sans-serif;
    text-align: right;
    font-weight: 500;
}

.work-heading{
    color: var(--secondary);
    text-align: center;
    padding: 2rem;
    margin-top: -4rem;
    margin-bottom: 3rem;
    line-height: 0.5;
}

section.works{
    background: var(--pure);
}

.work-heading span{
    color: var(--primary);
}

section.works .work-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
}

section.works .work-wrapper .work{
    background: var(--light);
    padding: 3rem 2rem;
    position: relative;
    text-align: center;
    padding-top: 1.5rem;
    transition: all .3s ease;
}

section.works .work-wrapper .work img{
    position: absolute;
    top: -3.0rem;
    left: 50%;
    transform: translateX(-50%);  
}

section.works .work-wrapper .work .resp h4{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0.5rem;
}

section.works .work-wrapper .work .resp h5{
    font-size: 15px;
    text-align: center;
    margin-bottom: 1.2rem;
}

section.works .work-wrapper .work .resp ul li{
    font-family: 'Lato', sans-serif;
    color: var(--ternary);
    line-height: 1.6;
    text-align: left;
    text-decoration: none;
}

section.works .work-wrapper .work:hover{
    background: var(--dark);
}

section.works .work-wrapper .work:hover h4, section.works .work-wrapper .work:hover h5, section.works .work-wrapper .work:hover ol li{
    color: var(--pure);
}

.contact-heading{
    color: var(--secondary);
    text-align: center;
    margin-bottom: 2rem;
}

section.contact{
    background: var(--light);
}

section.contact .contact-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; 
}

section.contact .contact-wrapper .cont{
    justify-content: left;
    align-content: center;
    text-align: center;
}

section.contact .contact-wrapper .cont img{
    background: none;
    margin-bottom: 2rem;
}

section.contact .contact-wrapper .cont h2{
    font-weight: 400;
    margin-bottom: 1rem;
}

section.contact .contact-wrapper .cont h6{
    font-size: 1rem;
    color: var(--ternary);
}

section.contact .contact-wrapper .cont a{
    color: var(--dark);
    text-decoration: none;
}

footer{
    background: var(--dark);
    text-align: center;
    padding: 2rem 0;
    color: var(--pure);
    font-size: large;
    font-weight: 400;
}